mixin page-footer()
  .page-footer
    .row
      .col-6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam culpa, cum fugiat ipsa, maiores maxime nemo nihil officiis praesentium provident qui quibusdam sapiente sequi similique, sit vitae voluptate voluptatibus.
      .col-6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam atque commodi distinctio fuga iure laborum mollitia necessitatibus nihil nobis, nostrum provident quaerat quo ratione repudiandae sequi veniam vitae voluptate?
