// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// My style

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

//@import "../blocks/companents/btn/btn";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
//@import "../blocks/project/order-page/order-page";

body {
 max-width: 505px;
 width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}

table {
 width: 100%;
}

img {
 width: 100%;
}

.ident {
 margin-bottom: 15px;
}

.header {
  margin-bottom: 20px;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.043px;
  min-height: 23px;
  color: $color-danger;
}

.header__receipt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__receipt-text {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.025px;

  color: #1A1919;
}

.header__receipt-number {
  font-size: 12px;
  line-height: 14px;
  color: #1A1919;
}

.header__receipt-text span {
  color: #777776;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.025px;
}

.row {
 @include row();
}

.col-4 {
 @include make-col(4);
}

.col-3 {
  @include make-col(3);
}

.col-5 {
  @include make-col(5);
}

.col-7 {
  @include make-col(7);
}

.col-9 {
  @include make-col(9);
}

.col-8 {
 @include make-col(8);
}

.col-6 {
 @include make-col(6);
}

.way__point strong {
  display: block;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #690E3B;
}

.way__point span {
  display: block;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  color: #777776;
}

.way__point {
  margin-bottom: 7px;
}

.way__data,
.way__time-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01px;

  color: #690E3B;
}

.way__station-wrap {
  min-height: 38px;
}

.way__station-wrap--disabled {
  opacity: .7;
}

.way__station {
  margin-bottom: 3px;
}

.way__station-city {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.009px;
  margin-bottom: 2px;
  color: #232323;
}

.way__station-rail {
  font-weight: bold;
  font-size: 8px;
  line-height: 9px;
  margin-bottom: 4px;
  color: #1A1919;
}

.way__station-metro {
  font-size: 7px;
  line-height: 8px;

  color: #1A1919;
}

.way__time-city {
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.009px;

  color: #1A1919;

  &--eng {
    font-size: 7px;
    line-height: 8px;
    letter-spacing: 0.01px;

    color: #777776;
  }
}

.info {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #B9B29E;
}

.info__locations {
  padding: 10px;
  border-right: 1px solid #b9b29e;
}

.info__location:not(:last-child) {
  padding-bottom: 13px;
  margin-bottom: 8px;
  border-bottom: 1px solid #b9b29e;
}

.info__pos {
  margin-top: 6px;
}

.info__pos span {
  display: block;
  font-weight: 700;
}

.info__pos--ru {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.004px;
  color: $color-danger;
}

.info__pos--eng {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.009px;
  color: #777776;
}

.info__place strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01px;
  color: #C6243F;
}

.info__place-pos {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.01px;
  color: #1A1919;

  span {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.009px;
    color: #777776;
  }
}

.info__place-floor {
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.044px;
  color: #1A1919;

  span {
    font-size: 7px;
    line-height: 8px;
    letter-spacing: 0.044px;
    color: #777776;
  }
}

.info__location-large {
  padding: 5px 0;
  margin-left: -20px;
}

.header__logo {
  max-width: 115px;
}

.order {
  padding-bottom: 9px;
  margin-bottom: 17px;
  border-bottom: 1px solid #B9B29E;
}

.order--pb-n {
  padding-bottom: 0;
  border-bottom: 0;
}

.order__info-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #1A1919;
}

.order__info-brief {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.042px;

  color: #1A1919;
}

.text-info__title {
  display: block;
  margin-bottom: 4px;
  line-height: initial;
  font-weight: 700;
}

.text-info__wrap {
  margin-bottom: 9px;
  line-height: 12px;
}

.text-info__wrap--ru .text-info__title {
  color: $color-danger;
}

.text-info__wrap--eng {
  color: #777776;
  font-size: 7px;
  line-height: 11px;
}

.text-info + .text-info {
  margin-top: 25px;
}

.info-detail {
  margin-bottom: 15px;
}

.info-detail--ident {
  padding: 10px 15px;
  margin: 0;
}

.info-detail--ml-ident {
  margin-left: -15px;
}

.info-detail td:first-child {
  font-weight: 700;
  min-width: 120px;
  padding-right: 10px;
}

.info-detail tr:last-child td {
  padding-bottom: 0;
}

.info-detail td {
  padding-bottom: 6px;
  vertical-align: top;
}

.info-detail__text {
  &--rus {
    color: $color-danger;
  }
}

.info-detail__text + .info-detail__text {
 font-size: 7px;
 line-height: 8px;
 letter-spacing: 0.034px;
 margin-top: 1px;
 color: #777776;
 min-height: 8px;
}

.warning {
 padding-top: 10px;
 padding-bottom: 20px;
 border-top: 1px solid #B9B29E;
}

.warning--detail {
  border-top: 0;
}

.warning--detail .warning__desk {
  padding-left: 0;
}

.warning__desk {
 padding-left: 6px;
 font-size: 7px;
 line-height: 8px;
}

.warning__desk div {
 margin-bottom: 7px;
}

.warning__desk-color {
 color: #777776;
 letter-spacing: 0.004px;
}

.receipt {
  padding-bottom: 15px;
  margin-bottom: 6px;
  border-bottom: 1px solid #B9B29E;
}

.receipt__title {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05px;

  color: #690E3B;
}

.receipt__title span {
  display: block;
}

.receipt__ticket span {
  display: block;
}

.receipt__title-eng {
  font-size: 12px;
  line-height: 14px;
}

.receipt__ticket {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.025px;
  color: #1A1919;
}

.receipt__ticket-text--eng {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.025px;

  color: #777776;
}

.receipt__number {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #1A1919;

  &--right {
    text-align: right;
  }
}

.order-info {
  margin-bottom: 10px;
}

.order-info__desk {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.049px;
}
