extends pug/layout.pug

block meta
  title Ticket+KRS
block header

block content
  .header
    .row
      .col-4
        .header__logo
          img(src="img/content/logo.svg", alt="Логотип")
      .col-8
        .header__title
          .header__title-text ЭЛЕКТРОННЫЙ БИЛЕТ
          span.header__title-eng E-ticket
        .header__receipt
          .header__receipt-text номер квитанции / #[span receipt number]
          span.header__receipt-number 48390440859020
  img.ident(src="img/content/line-3.jpg", alt="линия")
  .order
    .row
      .col-8
        .order__info
          .order__info-name ИВАНОВ А. И.
          span.order__info-brief ПН ***** 3456 / 01.01.2000 / RUS / M
      .col-4
        img(src="img/content/shtrih-3.jpg", alt="Штрихкод")
  .info
    .row
      .col-5
        .info__locations
          .info__location
            .row
              .col-4
                .info__pos
                  span.info__pos-s.info__pos--ru Место
                  span.info__pos-s.info__pos--eng Seat
              .col-8
                .info__place
                  strong 009
                  .info__place-pos нижнее / #[span lower]
                  .info__place-floor мужское / #[span male]
          .info__location
            .row
              .col-4
                .info__pos
                  span.info__pos-s.info__pos--ru Место
                  span.info__pos-s.info__pos--eng Seat
              .col-8
                .info__place
                  strong 009
                  .info__place-pos нижнее / #[span lower]
                  .info__place-floor мужское / #[span male]
          .info__location
            .row
              .col-4
                .info__pos
                  span.info__pos-s.info__pos--ru Место
                  span.info__pos-s.info__pos--eng Seat
              .col-8
                .info__place
                  strong 009
                  .info__place-pos нижнее / #[span lower]
                  .info__place-floor мужское / #[span male]
      .col-7
        .info__location-large
          .row
            .col-6
              .way
                .way__point
                  strong Отправление
                  span Departure
                .way__station
                  .way__station-wrap
                    .way__station-city МОСКВА ОКТЯБРЬСКАЯ
                    .way__station-rail (Ленинградский вокзал)
                    .way__station-metro Комсомольская
                  .way__station-wrap.way__station-wrap--disabled
                    .way__station-city MOSCOW OKTYABRSKAYA
                    .way__station-rail (Leningradsky railway station)
                    .way__station-metro Komsomolskaya
                  .way__data 05.09.2019
                .way__time
                  .way__time-number 23:40
                  .way__time-city Местное время (МСК)
                  .way__time-city.way__time-city--eng Local time (UTC+3)
            .col-6
              .way
                .way__point
                  strong Отправление
                  span Departure
                .way__station
                  .way__station-wrap
                    .way__station-city МОСКВА ОКТЯБРЬСКАЯ
                    .way__station-rail (Ленинградский вокзал)
                    .way__station-metro Комсомольская
                  .way__station-wrap.way__station-wrap--disabled
                    .way__station-city MOSCOW OKTYABRSKAYA
                    .way__station-rail (Leningradsky railway station)
                    .way__station-metro Komsomolskaya
                  .way__data 05.09.2019
                .way__time
                  .way__time-number 23:40
                  .way__time-city Местное время (МСК)
                  .way__time-city.way__time-city--eng Local time (UTC+3)
  img.ident(src="img/content/line-2.jpg", alt="линия")
  .info-detail
    .row
      .col-6
        table(cellspacing="0" cellpadding="0" border="0")
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Дата заказа
                .info-detail__text.info-detail__text--eng Order date
            td
              .info-detail__wrap
                .info-detail__text 27.08.2019 10:34 (МСК)
                .info-detail__text.info-detail__text--eng 27.08.2019 10:34 (UTC +3)
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Класс обслуживания
                .info-detail__text.info-detail__text--eng Сomp. class
            td
              .info-detail__wrap
                .info-detail__text Четырехместное купе  2У
                .info-detail__text.info-detail__text--eng Four-seater coupe  2У
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Тариф билета, руб.
                .info-detail__text.info-detail__text--eng Fare ticket, RUB
            td
              .info-detail__wrap
                .info-detail__text 1791.20
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Тариф плацкарта, руб.
                .info-detail__text.info-detail__text--eng Fare reservation, RUB
            td
              .info-detail__wrap
                .info-detail__text 6975.30
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Цена, руб
                .info-detail__text.info-detail__text--eng Price, RUB
            td
              .info-detail__wrap
                .info-detail__text 8766.50 (в т.ч. НДС 0% - 0.00, 20% - 446.50)
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Форма оплаты
                .info-detail__text.info-detail__text--eng Payment
            td
              .info-detail__wrap
                .info-detail__text Банковская карта *4564
                .info-detail__text Credit card *4564
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Дата оформления
                .info-detail__text.info-detail__text--eng Date оf purchase
            td
              .info-detail__wrap
                .info-detail__text 27.08.2019 10:34 (МСК)
                .info-detail__text 27.08.2019 10:34 (UTC +3)
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Перевозчик (ИНН)
                .info-detail__text.info-detail__text--eng Сarrier (ITN)
            td
              .info-detail__wrap
                .info-detail__text АО ТК “ГСЭ” (7705445700)
          tr
            td
              .info-detail__wrap
                .info-detail__text.info-detail__text--rus Агентство продажи
                .info-detail__text.info-detail__text--eng Sales Agency
            td
              .info-detail__wrap
                .info-detail__text ГСЭ
      .col-6
        .text-info
          .text-info__wrap.text-info__wrap--ru
            strong.text-info__title Правила возврата
            div Сдать билет онлайн можно до 22:40 05.09.2019 (МСК). Если вы опоздали на поезд - сдать билет возможно в кассе на станции отправления до 11:40 06.09.2019 (МСК)
          .text-info__wrap.text-info__wrap--eng
            strong.text-info__title Return policy
            div To return the tickets online until 22:40 05.09.2019 (UTC+3). If you are late for the train-it is possible to hand over the ticket at the ticket office at the departure station until 11: 40 06.09.2019 (UTC+3).
        .text-info
          .text-info__wrap.text-info__wrap--ru
            strong.text-info__title Дополнительная информация
            div Возможен провоз багажа и животных. Включен завтрак, в вагоне кондиционер, биотуалет, душ, Wi-Fi.
          .text-info__wrap.text-info__wrap--eng
            strong.text-info__title Additional info
            div It is possible to carry Luggage and animals. Included Breakfast, in the car air conditioning, toilet, shower, Wi-Fi .
  .warning
    table(cellspacing="0" cellpadding="0" border="0")
      tr
        td(valign="top")
          img(src="img/content/shtrih-2.jpg", alt="Штрихкод")
        td(width="311")
          .warning__desk
            div Распечатайте данный купон или сохраните на мобильном устройстве и предъявите при посадке вместе с документом, удостоверяющим личность, указанным при покупке электронного билета. Если Вы хотите сохранить посадочный купон на мобильном устройстве, дождитесь полной загрузки изображения и убедитесь, что 2D-код отображается на экране.
            div.warning__desk-color Please print this coupon or save it on your mobile device and present itwhen boarding the train. You must present your passport, specified in the electronic ticket form. If you need to save your boarding coupon onyour mobile device, please wait till the image is completely loaded and make sure 2D-code is seen on the screen.
  img(src="img/content/line-1.jpg", alt="линия")
  block footer
