extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header()
block content
  main
    ul
      li
        a(href='index.html') Ticket+KRS
      li
        a(href='index-2.html') Ticket+KRS2
      li
        a(href='index-3.html') Ticket+KRS3
      li
        a(href='index-4.html') Ticket+KRS4
block footer
  +page-footer()

  
