extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header()
block content
  main
    ul
      li
        a(href='/') Ticket+KRS
      li
        a(href='/') Ticket+KRS2
      li
        a(href='/') Ticket+KRS3
      li
        a(href='/') Ticket+KRS4
block footer
  +page-footer()
